
__pycache__

dist

/.vscode
/.idea
/.obsidian/**
!/.obsidian/graph.json
!/.obsidian/core-plugins.json
!/.obsidian/community-plugins.json
!/.obsidian/appearance.json
!/.obsidian/daily-notes.json
!/.obsidian/app.json
!/.obsidian/plugins
!/.obsidian/plugins/obsidian-git
!/.obsidian/plugins/obsidian-git/data.json
