[Desktop Entry]
Type=Application
Exec=/home/jerry-sky/notebooks/personal-notebook/config/quick-run/quick-open.sh
NoDisplay=false
Hidden=false
Name=Open in…
