[Desktop Entry]
Type=Application
Exec=/home/jerry-sky/notebooks/personal-notebook/config/audio/audloop.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name=Audio Loopback
